[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fangjian Zhong (James-Zzz)
[access "refs/for/refs/*"]
	read = group user/Fangjian Zhong (James-Zzz)
	push = group user/Fangjian Zhong (James-Zzz)
	label-Code-Review = -2..+2 group user/Fangjian Zhong (James-Zzz)
	label-Verified = -1..+1 group user/Fangjian Zhong (James-Zzz)
	rebase = group user/Fangjian Zhong (James-Zzz)
	removeReviewer = group user/Fangjian Zhong (James-Zzz)
	submit = group user/Fangjian Zhong (James-Zzz)
[access "refs/heads/*"]
	read = group user/Fangjian Zhong (James-Zzz)
	create = group user/Fangjian Zhong (James-Zzz)
	push = +force group user/Fangjian Zhong (James-Zzz)
	pushMerge = group user/Fangjian Zhong (James-Zzz)
[access "refs/tags/*"]
	push = +force group user/Fangjian Zhong (James-Zzz)
	pushTag = group user/Fangjian Zhong (James-Zzz)
	pushSignedTag = group user/Fangjian Zhong (James-Zzz)
